* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
}
/* Header and nav */
.hero-wrapper {
  background: url("images/front.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

header {
  position: relative;
  z-index: 2;
}

nav {
  background: transparent;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 100px;
}

nav .logo img {
  height: 80px;
  padding-left: 95px;
}

nav .nav-links a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav a:hover,
nav a:active {
  color: #FF6565;
}


/* Main first section */

.hero {
  min-height: 100vh;
  padding: 100px 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 30;
}

.hero h3 {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  top: 25;
}

.hero button {
  padding: 10px 20px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: #FF6565;
  height: 44;
  width: 162;
  border: none;
  border-radius: 25px;
  position: relative;
  top: 60;
}
.hero-description p {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 651;
  position: relative;
  top: 115;
}
